.ico {
    margin-right: 5px
}
.ico-grid {
    margin-right: 5px
}
.ico-edit {
    color: #007bff
}
.ico-delete {
    color: #dc3545
}
.btn-regular {
    border: 1px solid #c0c0c0;
    width: 120px
}

.input {
    text-transform: uppercase;
    border-radius: 0px;
}

.select {
    text-transform: uppercase;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.square {
    border-radius: 0px;
}
